@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these for Extension Popup sizing */
html,
body,
#root {
  width: 360px;
  min-height: 500px;
  background-color: hsl(var(--background));
}
